<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="https://www.youtube.com/channel/UCAKMe8Rr7UuHqpTLdLgsUcQ" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
      <li><a href="https://www.facebook.com/Nucleons-community-1712679832371000/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    Created By <a href="/portfolio"> Sumit Rathore </a>
  </div>
</footer>