<div class="video-container">
        <iframe width="853" height="480" [src]="url" frameborder="0" allowfullscreen></iframe>
</div>
      


<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xm-12">
        <div class="panel panel-default">
        <div class="panel-heading">
                <img src="assets/images/python_introduction.png" alt="python_introduction" width="100%" class="img-responsive">
        </div>
        <div class="panel-body">
            <h2>Python Introduction</h2>
            <h3><a routerLink="/python-introduction"> <button class="btn btn-primary"> Learn More</button></a></h3>
        </div>
    </div>
</div>  