p {
    color: rgb(70, 70, 70);
    }
header p {  
    color: rgb(70, 70, 70);
    }
#courses header h2 {
    color: rgb(50, 50, 250);
    font-weight: bold;
}

.box img#b{
    text-align: center;
    padding: 0 30px;
    max-height: 400px;
}
.box img#a{
    text-align: center;
    padding: 0 30px;
    max-height: 400px;
}