
<section id="articles" class="wrapper style3">
  <div class="inner">
    <header class="align-center">
      <p>Welcome to Nucleons Community</p>
      <h2>Latest Articles</h2>
    </header>
  </div>
</section>
<!-- One -->
    <section id="one" class="wrapper style2">
      <div class="inner">
        <div class="grid-style">

          <div>
            <div class="box">
              <div class="image fit">
                <img id="a" src="assets/images/pic02.png" alt=""/>
              </div>
              <div class="content">
                <header class="align-center">
                  <p>By Sumit Rathore</p>
                  <h2>Python Introduction</h2>
                </header>
                <p> This is first tutorial of python course. It conatain basic Introduction of python and some basic syntax rules.</p>
                <footer class="align-center">
                  <a href="courses/python" class="button alt">Learn More</a>
                </footer>
              </div>
            </div>
          </div>

          <div>
            <div class="box">
              <div class="image fit">
                <img id="b" src="assets/images/q_learning.png" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>By Sumit Rathore</p>
                  <h2>Q-Learning</h2>
                </header>
                <p> Q-Learning is part of Reinforcement Learning. We will use Q-Learning to make intelligent agent whcih play specific game. </p>
                <footer class="align-center">
                  <a href="articles/neural_network" class="button alt">Learn More</a>
                </footer>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="two" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          <p>Welcome To Nucleons Community</p>
          <h2>All Courses</h2>
        </header>
      </div>
    </section>

    <section id="courses" class="wrapper style2">
      <div class="inner">
        <div class="gallery">
          <div>
              <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Learn More About</p>
                      <h2>Machine Learning</h2>
                    </header>
                    <p> This course contains all articles on Machine Learning.</p>
                    <footer class="align-center">
                        <br>
                      <a href="courses/machine_learning" class="button alt">Learn More</a>
                    </footer>
                    <br>

                  </div>
                </div>
          </div>
          <div>
            <div class="box">
                <div class="content">
                  <header class="align-center">
                    <p>Learn More About</p>
                    <h2>Deep Learning</h2>
                  </header>
                  <p> This course contains all articles on deep neural network.</p>
                  <footer class="align-center">
                      <br>
                    <a href="courses/deep_learning" class="button alt">Learn More</a>
                  </footer>
                  <br>

                </div>
              </div>
          </div>
          <div>
              <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Learn More About</p>
                      <h2>Natural Language Processing</h2>
                    </header>
                    <p> This course contains all articles on Natural Language Processing.</p>
                    <footer class="align-center">
                        <br>
                      <a href="courses/nlp" class="button alt">Learn More</a>
                    </footer>
                    <br>

                  </div>
                </div>
          </div>
          <div>
              <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Learn More About</p>
                      <h2>Python</h2>
                    </header>
                    <p> This course contains all articles on python.</p>
                    <footer class="align-center">
                        <br>
                      <a href="courses/python" class="button alt">Learn More</a>
                    </footer>
                    <br>

                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
